### String Formating

In [85]:
%autosave 2

Autosaving every 2 seconds

In [1]:
for i in range(1, 11):
    print(str(i).rjust(2), str(i**2).rjust(3), str(i**3).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [2]:
"text".rjust(50)

'                                              text'

In [3]:
"text".ljust(50)

'text                                              '

In [4]:
"text".center(50)

'                       text                       '

In [5]:
def make_triangle(n):
    return ["*"*row for row in range(1, n+1)]

In [6]:
make_triangle(5)

['*', '**', '***', '****', '*****']

In [7]:
for row in make_triangle(5):
    print(row)

*
**
***
****
*****

In [8]:
def prety_print(triangle):
    width = len(triangle[-1])
    for row in triangle:
        print(row.center(width))

In [9]:
prety_print(make_triangle(10))

    *
    **
   ***
   ****
  *****
  ******
 *******
 ********
*********
**********

In [10]:
def format_row(row):
    return " ".join(list(row))

def prety_print(triangle):
    base = len(triangle[-1])
    width = base + base -1
    
    for row in triangle:
        row_ = format_row(row)
        print(row_.center(width))

In [11]:
prety_print(make_triangle(10))

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

Pascal Triangle
```
             1
           1  1
         1  2  1
       1  3  3  1
     1  4  6  4  1
   1  5  10 10  5  1
```

In [12]:
def pascal(n):
    """
    >>> pascal(1)
    [[1]]
    >>> pascal(5)
    [[1], [1,1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    """
    pass

In [13]:
11*11

121

```
[1 , 4 , 6 , 4 , 1 ]
[1, 1+4, 4+6, 6+4, 4+1, 1]

1 4 6 4 1
---
  ---
    ---
      ---
 1  4  6  4  1  0
 0  1  4  6  4  1
------------------
 1  5 10 10  5  1
```

In [14]:
def find_runing_sum(items):
    r_s = []
    for i, item in enumerate(items[:-1]):
        r_s.append(item + items[i+1])
    return r_s

def find_next_row(row):
    runing_sum = find_runing_sum(row)
    return [1] + runing_sum + [1]

def sum_shifted_rows(row):
    first = row + [0]
    second = [0] + row
    
    return [a+b for a,b in zip(first, second)]

In [15]:
find_runing_sum([1,3, 3, 1])

[4, 6, 4]

In [16]:
find_next_row([1, 3, 3, 1])

[1, 4, 6, 4, 1]

In [17]:
sum_shifted_rows([1, 3, 3, 1])

[1, 4, 6, 4, 1]

In [63]:
def pascal(n):
    
    tr = [[1]]
    
    for i in range(n-1):
        tr.append(find_next_row(tr[-1]))
        
    return tr

In [64]:
pascal(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [82]:
def format(row):
    row_ = [str(e) for e in row if type(e) == int ]
    return "  ".join(row_)

def pretty_print(triangle):
    base = len(triangle[-1])
    # print(triangle[-1][-1])
    width = base + base + 1

    for row in triangle:
        row_ = format(row)
        print(row_.center(width))

In [83]:
pattern = pretty_print(pascal(5))

     1
    1  1
  1  2  1
 1  3  3  1
1  4  6  4  1